.body_prof {
    display: flex;
    height: 100vh;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    background-color:  rgb(235, 235, 235);
}


.left_container {
    transition: transform 0.3s ease-in-out;
 
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(235, 235, 235);
       
    border: .4px solid black;
    padding: 2%;
    max-width:  18%;
    min-width: 18%;
    overflow: auto;
}

.left_container.hidden {
    transform: translateX(-100%);
   
    
    
}

  
  .left_container.visible {
    transform: translateX(0);
  }
  
  .menu_icon {
    position: fixed;
    top: 8%;
    left: 1%;
    z-index: 20;

  }

  
.section_title {
    margin-top: 20%;
    font-size: 1.3rem;
    color: #333;
    text-align: center;
   
 
   
}

.search_label {
    margin-top: 5%;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.search_input,
.date_input {
    width: 90%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.date_range {
    display: flex;
    gap: 10px;
}

.search_button {
    margin-top: 3vh;
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search_button:hover {
    background-color: #0056b3;
}


.right_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s ease-in-out;
    flex: 1; 
    border: .4px solid black;
}

.right_container.full-width {
    flex: 1;
    
}

.right_container.default {
    width: 82%; 
}



.bottom_container {
    background-color: rgb(235, 235, 235);
    height: 80%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    overflow-y: auto;
    padding: 2vw;
    position: relative; 
}

.add-button-container {
    position: fixed;
    bottom: 2vh; 
    right: 1vw; 
    background-color: rgb(235, 235, 235);
    border-radius: 50%; 
    padding: 10px;
    cursor: pointer;
    
}

.add_button {
    font-size:4rem !important;
    color: #333;
}

.add_button:hover{
    color: #007BFF;
}

.top_container {
    height: 15%;
    flex: 1;
    background-color: white;
    border-bottom: 0.4px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.button-group {
    display: flex;
    gap: 20px;
}

.button-group button {
    margin-top: 1vh;
    
    margin-left: 2%;
    background: none;
    height: 3vh;
    width: 10vw;
    border: none;
    font-size: 1.5rem; 
    color: #333;
    cursor: pointer;
    
    padding-bottom: 3%;
    transition: color 0.3s ease;
    
}

.button-group button:hover {
    color: #007BFF;
}

.icon-container {
    margin-top: 5vh;
    margin-right: 10px;
}

.icon-container .icon {
    font-size: 3rem; 
    color: #333;
}

.icon-container .icon:hover{
    transform: scale(1.03);
    background-color:  rgb(235, 235, 235);
    
}




@media (max-width: 1200px) {
    .left_container {
        max-width: 25%;
    }

    .right_container {
        width: 75%;
    }

    .top_container {
        height: 12%;
    }

    .button-group button {
        font-size: 1.2rem;
    }

    .add-button-container {
        bottom: 4vh; 
        right: 3vw; 
    }
}

@media (max-width: 992px) {
    .left_container {
        max-width: 30%;
    }

    .right_container {
        width: 70%;
    }

    .button-group button {
        width: 12vw;
    }

    .search_input,
    .date_input {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .left_container {
        max-width: 20%;
    }

    .right_container {
        width: 60%;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
    }

    .button-group button {
        width: 100%;
    }

    .icon-container .icon {
        font-size: 2.5rem;
    }

    .add-button-container {
        right: 5vw; 
    }

    .top_container {
        min-height: 25%;
        overflow: auto;
        
    }
}

@media (max-width: 576px) {
    .left_container {
        max-width:30%;
    }

    .right_container {
        width: 50%;
    }

    .section_title {
        font-size: 1.1rem;
    }

    .button-group button {
        font-size: 1rem;
        width: 100%;
    }

    .search_input,
    .date_input {
        width: 100%;
    }

    .add-button-container {
        bottom: 5vh; 
        right: 7vw; 
    }

    .top_container {
        height: 25%;
    }
}