html,body{
  background-color: rgb(206, 206, 206);
}
 .body_main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrează vertical */
  align-items: center; /* Centrează orizontal */
  overflow-y: auto;
  }

   
  .form_login{
    display: flex;
    flex-direction: column;
    background-color: white;
  }